<nav class="nav-menu">
    <ul>
        <li class="<%= page === 'all-patients' ? 'active' : '' %>"><a href="/patients/?currentPage=1&pageSize=10">Сите
                пациенти</a></li>
        <li class="<%= page === 'new-patient' ? 'active' : '' %>"><a href="/patients/new">Додади нов пациент</a></li>
        <li class="<%= page === 'statistics' ? 'active' : '' %>"><a href="/patients/statistics">Статистика</a></li>
        <li class="<%= page === 'logs' ? 'active' : '' %>"><a href="/logs/?currentPage=1&pageSize=10">Историјат на
                валидации</a></li>
        <li><a href="/logout">Одјави се</a></li>
    </ul>
</nav>
